@font-face {
    font-family: 'Brand';
    src: url('Brand.woff2') format('woff2'),
        url('Brand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brand';
    src: url('Brand.woff2') format('woff2'),
        url('Brand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brand';
    src: url('Brand.woff2') format('woff2'),
        url('Brand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

